@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000 ;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  
}

.logo-image{
  height: 50px;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  display: inline;
  margin: 0 10px;
}

.navbar a{
  color: #fff;
  padding: 5px 10px;
}

.navbar a:hover,
 .navbar a.home-active{
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.hero-section {
  background-image: url('images/The\ matrix\ 2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
   padding-left: 10%; 
   padding-top: 70px;
}

.hero-content {
  max-width: 50%;
  width: 100%;
  color: #ffffff;
  
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}




.hero-content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-buttons .cta-button {
  display: inline-block;
  padding: 10px;
  font-size: 1.1rem; 
  font-weight: 500;
  background-color: #ffffff ; 
  color:#000 ; 
  border: 2px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  transition:background-color 0.3s ease-out ;
  
}

.cta-button:hover {
  border: 2px solid #fff;
  background-color: #000; 
  color:#ffffff ; 
  
}

/*featured-content*/
.featured-content{
  background: #101010;
  width: 100%;
  padding: 10px 0px;
}

.title h1{
  color: white;
  text-align: center;
  font-size: 80px;
  
}
.title h2{
  color: white;
  font-size: 22px;
  width: 1120px;
  margin: 10px auto;
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card{
  height: auto;
  width: 30vw;
  padding: 20px 30px;
  background: white;
  border-radius: 20px;
  margin: 0.9375rem;
  position: relative;
  overflow:hidden ;
  text-align: center;
}

.card i{
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 20px 0;
  color: #000;
}

.card img{
  width: 100%;
  height: auto;
  max-height: 60%;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.card h3{
  margin-bottom: 2px;
}
.card h5{
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
}


.pra p{
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
  
}

.pra .description{
  padding-top: 5px;
  border-top: 2px solid #000;
  border-radius: 6px;
}

.card .button{
  background-color: #000;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px;
}

.card .button:hover{
  background-color: white;
  color: black;
  border: 2px solid #000;
  cursor: pointer;
}

/*Footer section */

.footer{
 
  width: 100%;
  background: #111;
  margin-top: 100px;
}

.footer-content{
  display: flex;
  background: #000;
  color: #fff;
}

.footer-content .footer-box{
  flex-basis: 50%;
  padding: 10px 20px;
}

.footer-box .text{
  margin-bottom: 30px;
  padding-left: 10px;
}

.footer-box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-box .content{
  margin: 20px 0 0 0;
}

.left .content .socials{
  margin: 20px 0 0 0;
}


.left .content .socials a{
  color: #fff !important;
  padding: 0 20px;
}



.left .content .socials a i{
  height: 45px;
  width: 45px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  transition: color 0.3s ease,transform 0.3s ease;
}

.left .content .socials a i:hover{
  
  transform: scale(1.3);
}

.center .content .place span i,
.center .content .phone span i,
.center .content .email span i {
  margin-right: 10px; 
}

.center .content .place,
.center .content .phone {
  margin-bottom: 10px; /* Adjust this value to your desired spacing */
}


.right .content form .email,
.right .content form .msg {
  margin-bottom: 15px;
}

.right .content form input[type="text"],
.right .content form textarea {
  width: 47%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.right .content form .sub-btn button{
  padding:  10px 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.right .content form .sub-btn button:hover {
  background-color: #fff;
  color: #000 ;
  transform: scale(1.0);
}

/*Movies Section */

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.segment {
  background-color: #f0f0f0; 
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.segment h2 {
  font-size: 1.5em;
  margin-bottom: 20px; 
  color: #333;
}

.movie-tile {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  height: 100%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.movie-tile img {
  max-width: 100%;
  height: auto;
}

.movie-tile h2 {
  margin: 15px 0;
  font-size: 1.2rem;
  color: #333;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  width: 100%; 
  font-size: 0.66rem; /* Adjust font size here */
  white-space: nowrap;
}

.movie-info span {
  margin: 0 2px; /* Adjust margins here */
}


.movie-info .year {
  border: 1px solid #000;
  padding: 2px 5px;
  border-radius: 3px;
}

.movie-info .genre {
  font-size: 0.7rem; 
}

.movie-tile:hover {
  transform: scale(1.05);
  border-color: #fff;
  transition: all 0.5s ease;
}

